<script>
    location.href = "console.html";
</script>
<div id="title" class="jumbotron" style="margin:auto; text-align:center">
    <h1>@ViewBag.selectedView Detection Console</h1>

</div>
<div style="margin:auto; text-align:center;min-height: 40px">
    <span id="alert_msg" style="font-size:20px;line-height:2; color:red"></span>
</div>

<div style="width:680px; height:520px ; background-color:goldenrod; margin:auto; text-align:center">
    <canvas id="mycanvas" width="640" height="480" style="border:1px solid black; margin-top:20px"></canvas>
</div>
<div id="status_msg"  style="margin:auto; text-align:center; font-size:35px">
    <span> current number of people is </span>
    <span id="num_people">%%%</span>
    <span>out of </span>
    <span id="max_people">@ViewBag.maxPeople</span>
    <span>allowed</span>
</div>

<div>
    <h1 id="test-h1"></h1>
</div>

<div id="meta_data" url="@ViewBag.serverUrl" video_src="@ViewBag.cameraSrc" selected_view="@ViewBag.selectedView" euclid_ip="@ViewBag.euclidIP" euclid_port="@ViewBag.euclidPort" people_src="@ViewBag.PeopleSrc" drowsiness_src="@ViewBag.DrowsinessSrc" panic_src="@ViewBag.PanicSrc"></div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/utils.js"></script>


