
<div class="jumbotron" style="margin:auto; text-align:center">
    <h1>@ViewBag.selectedView Detection Console</h1>

</div>
<div style="margin:auto; text-align:center;min-height: 40px">
    <span id="alert_msg" style="font-size:20px;line-height:2; color:red"></span>
</div>

<div style="width:640px; height:320px ; background-color:aqua; margin:auto; text-align:center">
    <canvas id="mycanvas" width="320" height="240" style="border:1px solid black; margin-top:40px"></canvas>
</div>
<div style="margin:auto; text-align:center; font-size:20px">
    <span> current number of people is </span>
    <span id="num_people">%%%</span>
    <span>out of </span>
    <span id="max_people">@ViewBag.maxPeople</span>
    <span>allowed</span>
</div>

<div>
    <h1 id="test-h1"></h1>
</div>
<div id="meta_data" url="@ViewBag.serverUrl" video_src="@ViewBag.videoSrc" selected_view="@ViewBag.selectedView" euclid_ip ="@ViewBag.euclidIP", euclid_port="@ViewBag.euclidPort"></div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/utils.js"></script>


