@model IEnumerable<CSA_Project.Models.SettingsViewModels>

@{
    ViewBag.Title = "Index";
}
<div>
    <h2>Application Settings</h2>
    <hr />


    @Html.ActionLink("Edit", "Edit", new { id = Model.FirstOrDefault().Id })

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaxPeopleAllowed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().MaxPeopleAllowed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EuclidIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().EuclidIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EuclidMAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().EuclidMAC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EuclidPort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().EuclidPort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CameraTopic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().CameraTopic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeopleTopic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().PeopleTopic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrowsinessTopic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().DrowsinessTopic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PanicTopic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().PanicTopic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServerIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().ServerIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServerMAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().ServerMAC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServerPort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().ServerPort)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.DB_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().DB_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConnectionString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().ConnectionString)
        </dd>

    </dl>
</div>

@Html.ActionLink("Edit", "Edit", new { id = Model.FirstOrDefault().Id })